name: Newman API Tests

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  newman:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Run API collection (Newman)
        run: |
          npx newman run collections/reqres_api.postman_collection.json \
            -e collections/reqres_environment.postman_environment.json \
            --reporters cli,htmlextra \
            --reporter-htmlextra-export newman-report.html \
            --reporter-htmlextra-title "ReqRes API Tests"

      - name: Upload HTML report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: newman-html-report
          path: newman-report.html